h1,h2,h3,h4,h5{
    color: #434343;
}
.bg-primary-normal{
    background-color: #4EB1A4;
}
.bg-primary-normal-active{
    background-color: #469E92;
}

.bg-primary-dark{
    background-color: #419489;
}

.bg-red-normal{
    background-color: #E95D54;
}
.bg-red-normal:hover{
    background-color: #c64b44;
}
.bg-blue-normal{
    background-color: #1A7482;
}
.bg-brown-normal{
    background-color: #eca841;
}
.bg-brown-normal:hover{
    background-color: burlywood;
}
.bg-re
.text-brown-darker{
    color: brown;
}
.text-font-darker {
    color: #1E4540;
    font-weight: 600;
}
.text-font-back{
    color: #434343;
}
a.dropdown-item{
}
a.dropdown-item:hover{
    
    background-color: #E6F6F4;
    
}



a{
    text-decoration: none;
    font-size: 18px;
    color: gray;
    font-weight:450;
}
.my-icon{
    width: 25px;
    color: 434343;
}
.my-header{
    background-color: white !important;
    height: 60px;
    max-width: 100vw;
}

.my-header-brand{
    color: #419489;
    font-size: 30px;
    font-weight: bold;
}
.my-header-brand:hover{
    color: #419489;
}
.my-header-bg-icon{
    width: 40px;
    height: 40px;
    background-color: #DBF0ED;
    display: flex;
    justify-content: center;
}

.my-header-icon{
    width: 20px;
    height: 25px;
}

.my-header-login{
    width: 110px;
    height: 40px;
    border-radius: 20px;
    background-color: #E95D54;
    border: none;
    font-size: 20px;
    font-weight: bold;
    vertical-align: center;
}

.my-header-login:hover{
    background-color: #D2544C;
}
.my-header-login:focus{
    background-color: #BA4A43;
}

.noti.dropdown-toggle::after{
    content:none;
}
.noti:hover{
    background-color: #E6F6F4;
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
    background-color: #CBEDE8;
}

/*Slider*/

.my-slider {
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom_button_slideshow{
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    display: flex !important;
    align-items: center;
    justify-content: center !important;
    text-align: center !important;
    border: 2px solid #419489;
    background-color: white;
    padding: 0px;
    top: -30%;
}
.custom_button_slideshow:hover{
    background-color: #E6F6F4;
    border: 2px solid #419489;
}
.custom_button_slideshow:focus{
    background-color: #CBEDE8;
}
.custom_button_prev{
    margin-left: 92%;
}
.my-slider-card{
    width: 580px;
    height: 170px;
    background-color: white;
    padding: 20px;
    align-items: center;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}




/*****/
.my-conf-card-home{
    width: 1260px;
    border: 10px;
    border-radius: 1px solid gray;
    background-color: #C2F1EB;
    margin-bottom: 24px;
    padding: 20px 40px;
    text-align: center;
    cursor: pointer;
}
.my-conf-card-followed{
    width: 950px;
    border: 10px;
    border-radius: 1px solid gray;
    background-color: #C2F1EB;
    margin-bottom: 24px;
    padding: 20px 40px;
    text-align: center;
    cursor: pointer;
}
.icon-slider-follow{
    position: absolute;
    width: 35px;
    height: px;
    right: 40px;
    bottom: 20px;
    background-color: #C2F1EB;
    color: #434343;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.icon-follow{
    position: absolute;
    width: 140px;
    height: 40px;
    right: 50px;
    bottom: 20px;
    background-color: white;
    color: #434343;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
}
.icon-follow:hover{
    background-color: #E6F6F4;
    color: #34766D;
}
.icon-follow:active:focus{
    background-color: #CBEDE8;
}
.conf-data-title{
    font-size: 20px;
    font-weight: bold;
    color: #434343;
}
.conf-data-label{
    font-size: 18px;      
    color: #434343;
}
.conf-data{
  font-size: 18px;  
  font-weight: bold;
  margin: 0px 5px;
  color: #434343;
}

.button-follow{

}
/*pagination**/
.active>.page-link{
    border: none;
    background-color: white;
    text-decoration: underline;
    color: #434343;
    font-weight: bolder;
    font-size: 18px;
}

.page-link{
    border: none;
    background-color: white;
    color: #434343;
    font-size: 18px;        
    font-weight: bolder;
}

.disabled>.page-link, .page-link.disabled{
    /*pre button*/
    background-color: white;
    text-decoration: none;
    color: #434343;
    font-weight: lighter;
}

.page-link:hover{
    background-color: lightcyan;
    color: #419489;
    border-radius: 5px;
}


/*Sidebar*/

.my-sidebar-navlink{
    color: #4EB1A4;
    font-size: 20px;
}

.my-sidebar-navlink:hover{
    background-color: #469E92;
    color: white;
}
